@charset "utf-8";
/* 
font-family: 'Itim', cursive;
font-family: 'Kanit', sans-serif;
font-family: 'Mitr', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Itim|Kanit|Mitr|Prompt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');


#div_center_login{
	margin: 40px auto;
	width: 350px;
	font-family: 'Montserrat', sans-serif;
}

#div_center_register{
	margin: 40px auto;
	width: 350px;
	font-family: 'Montserrat','Mitr', sans-serif;
}

#div_login{
	background-color: #f9f9f9;
	margin: 0px auto;
	width: 340px;
}